@font-face {
  font-family: Cocogoose;
  src: url(./fonts/Cocogoose-Light.ttf);
}

@font-face {
  font-family: Cocogoose-bold;
  src: url(./fonts/Cocogoose-pro.ttf);
}

.kanit {
  font-family: 'Kanit',
    sans-serif;
}

.lato {
  font-family: 'Lato',
    sans-serif;
}

.cocogoose {
  font-family: Cocogoose;
}

.cocogoose-bold {
  font-family: Cocogoose-bold;
}

.bc-gray {
  background-color: #272a31;
}

.bc-light {
  background-color: #d3d3d3;
}

.bc-orange {
  background-color: #ec5242;
}

.gray {
  color: #272a31;
}

.light-gray {
  color: #494a4d;
}


.light {
  color: #d3d3d3;
}

.orange {
  color: #ec5242;
}

ul {
  list-style: none;
}

.nav-logo {
  font-size: 30px;
}

.light-navbar {
  height: 70px;
}

.light-navbar ul a {
  color: #272a31;
}

.light-navbar ul a span {
  border-radius: 10px;
}

/* MAIN */
.main-text {
  font-size: 10vw;
  background-image: url(../assets/text-background.jpg);

  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.date {
  font-size: 6vw;
}

/* .container img {
  position: absolute;
  background-color: rgba(255, 68, 0, 0.753);
  z-index: 1;
}

.container div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 68, 0, 0.575);
  z-index: 1;
} */

/* AMENITIE */
.amenities .card {
  background-color: rgba(255, 255, 255, 0.253);

}

.amenities .card .fas {
  font-size: 23px;
}

.amenities .card .fab {
  font-size: 23px;
}